.admin-datatable .dataTable-wrapper {
    width: 100%;
}

.admin-datatable .dataTable-wrapper .dataTable-table {
    width: 100%;
    margin-bottom: 0;
    border-collapse: collapse !important;
    border: .5px solid var(--admin-primary) !important;
}

.admin-datatable .dataTable-wrapper .dataTable-table > :not(caption) > * > * {
    border: .5px solid var(--admin-primary) !important;
    padding: 0.75rem;
    vertical-align: middle;
}

.admin-datatable .dataTable-wrapper .dataTable-table > thead {
    vertical-align: bottom;
}

.admin-datatable .dataTable-wrapper .dataTable-table > thead > tr > th {
    background-color: #f8f9fa;
    font-weight: 600;
    border-bottom: 1px solid var(--admin-primary) !important;
}

.admin-datatable .dataTable-wrapper .dataTable-table > tbody > tr:nth-of-type(odd) > * {
    background-color: rgba(0, 0, 0, 0.03);
}

.admin-datatable .dataTable-top,
.admin-datatable .dataTable-bottom {
    padding: 0.75rem 0;
}

.admin-datatable .dataTable-input {
    border: .5px solid var(--admin-primary);
    border-radius: 0.25rem;
}

.admin-datatable .dataTable-selector {
    border: .5px solid var(--admin-primary);
    border-radius: 0.25rem;
}
